.sideBar {
    width: 350px;
    height: calc(100vh - 57px);
    position: absolute;
    left: 0px;
    border-right: 1px solid var(--border-color);
    transition: margin-left 0.4s ease-in-out;
    background: var(--background-color);
    color: var(--text-color);
    z-index: 50;

    .item {
        width: 100%;
        padding-inline: 30px;
        padding-block: 10px;
        font-size: 16px;
        font-weight: 600;

        &:hover {
            background: var(--hover-color);
            cursor: pointer;
        }
    }
}

.sectionHeader {
    font-size: 18px;
    font-weight: 700;
    padding-inline: 30px;
    padding-block: 8px;
    display: flex;
    gap: 7px;
    align-items: center;

    svg {
        width: 24px;
        height: 24px;
    }
}

.hover {
    cursor: pointer;
}

.toggleIcon {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 20px;
        height: 20px;
    }
}