$border-color: rgb(226, 226, 226);

.sideBar {
    width: 350px;
    height: calc(100vh - 57px);
    position: absolute;
    left: 0px;
    border-right: 1px solid $border-color;

    .item {
        width: 100%;
        padding-inline: 30px;
        padding-block: 10px;
        font-size: 16px;
        font-weight: 600;

        &:hover {
            background: rgba(1,1,1,0.1);
            cursor: pointer;
        }
    }
}

.sectionHeader {
    font-size: 18px;
    font-weight: 700;
    padding-inline: 30px;
    padding-block: 8px;
    cursor: pointer;
    display: flex;
    gap: 7px;
    align-items: center;

    svg {
        width: 24px;
        height: 24px;
    }
}

