$border-color: rgb(226, 226, 226);

.navbar {
    width: 100%;
    border-bottom: 1px solid $border-color;
    display: flex;
    padding-inline: 40px;
    padding-block: 10px;
    font-size: 21px;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.search {
    width: 300px;
}

.searchModal {
    background: white;
}

.searchBar {
    margin-bottom: 0px;
    padding-inline: 20px;
    padding-block: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid rgb(155, 155, 155);
    outline: none;

    &:active {
        border: none;
        border-bottom: 1px solid rgb(155, 155, 155);
    }
}

.searchResults {
    width: 100%;
    height: 255px;
    overflow-y: auto;
    padding: 10px;
    margin-top: -16px;

    .searchItem {
        width: 100%;
        display: flex;
        padding-inline: 10px;
        padding-block: 10px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 500;
        align-items: center;
        gap: 10px;

        &:hover {
            background: rgba(0,0,0,0.1);
        }

        svg {
            width: 21px;
            height: 21px;
        }
    }
    
}

.noResult {
    text-align: center;
    margin-block: 30px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}