.main  {
    margin-left: 351px;
    width: calc(100vw - 351px);
    padding-block: 30px;
    padding-inline: 50px;
    background: white;
}

.toggleIcon {
    position: absolute;
    top: 67px;
    left: 10px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;

    svg {
        width: 20px;
        height: 20px;
    }
}