.main  {
    padding-block: 30px;
    padding-inline: 50px;
    background: var(--background-color);
    transition: width 0.4s ease-in-out, margin-left 0.4s ease-in-out;
    overflow-y: scroll;
    height: calc(100vh - 57px);
    margin-top: 57px;
    overflow-x: hidden;
}

.toggleIcon {
    position: fixed;
    top: 67px;
    left: 10px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;

    svg {
        color: var(--text-color);
        width: 20px;
        height: 20px;
    }
}

