.commandprompt {
    padding-block: 12px;
    padding-inline: 30px;
    border-radius: 10px;
    background: rgb(9, 9, 11);
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 5px;

    .white {
        color: white;
        font-weight: 600;
    }

    .gray {
        color: gray;
    }

    .copy {
        color: white;
        cursor: pointer;
    }
}