.pageFlex {
    display: flex;
    width: 100%;
    gap: 20px;

    .pageContent {
        width: calc(100% - 300px);
    }

    .pageTable {
        width: 300px;
        display: fixed;
        margin-top: -120px;

        .pageTableTitle {
            font-size: 20px;
            font-weight: 600;
        }
    }
}