$nav-height: 50px;

.studioContainer {
    width: 100vw;
    overflow-y: hidden;
    
    .studioNav {
        width: 100%;
        height: $nav-height;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        position: absolute;
        top: 0px;
        justify-content: space-between;
        align-items: center;
        padding-inline: 10px;

        .studioNavMenu {
            display: flex;
            gap: 20px;
            align-items: center;
            margin-left: 10px;
            color: var(--text-color);

            svg {
                cursor: pointer;
            }

            .logo {
                font-size: 18px;
                font-weight: 900;
                user-select: none;
                color: var(--text-color);
            
                a {
                    color: rgb(31, 102, 235);
                }
            }
        }

        .tabs {
            display: flex;
            gap: 5px;

            .tab {
                padding-inline: 12px;
                padding-block: 4px;
                border-radius: 5px;
                background: var(--background-subdued);
                cursor: pointer;

                &:hover {
                    background: var(--background-subdued);
                }
            }
        }
    }

    .studioContentContainer {
        display: flex;
        width: 100vw;
        margin-top: calc($nav-height);

        .studioEditorWrapper {

            width: 50%;
            position: relative;
            height: calc(100vh - ($nav-height + 1px));

            .studioEditor {
                width: 100%;
                height: calc(100vh - ($nav-height + 1px));
                resize: none;
                outline: none;
                padding: 20px;
                position: relative;
                color: var(--text-color);
                background: var(--background-color);
            }

            .help {
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                right: 10px;
                top: 10px;
                z-index: 10;
                border: 1px solid var(--border-color);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                color: var(--text-color);
            
                svg {
                    width: 16px;
                    height: 16px,
                }

                &:hover {
                    background: var(--hover-color);
                }
            }
        }


        .studioResult {
            width: 50%;
            height: calc(100vh - ($nav-height + 1px));
            resize: none;
            border-left: 1px solid var(--border-color);
            padding: 20px;
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }

}

.studioMenu {
    height: 100vw;
    width: 300px;
    border-right: 1px solid var(--border-color);
    background-color: var(--background-color);
    z-index: 100;
    position: fixed;
    transition: margin-left 0.3s ease;
    

    .closeMenuIcon {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        color: var(--text-color);
    }

    .menuLink {
        padding-inline: 20px;
        padding-block: 5px;
        display: flex;
        gap: 15px;
        font-size: 18px;
        color: var(--text-color);

        &:hover {
            background: var(--hover-color);
            cursor: pointer;
            font-weight: 500;
        }
    }

    .projectManager {
        display: flex;
        flex-direction: column;
        gap: 0px;
        border-top: 1px solid var(--border-color);
    }
}



.header {
    font-size: 27px;
}

.title {
    font-size: 24px;
}


// Project Manager //

.project {
    width: 100%;
    color: var(--text-color);
    
    .projectTitle {
        padding-inline: 20px;
        padding-block: 5px;
        font-size: 18px;
        cursor: pointer;
        display: flex;
        gap: 5px;
        align-items: center;
        font-weight: 500;

        &:hover {
            background: var(--hover-color);
        }

        .arrowIcon {
            transition: transform 0.3s ease;
        }
    }

    .projectPages {
        display: flex;
        flex-direction: column;
        max-height: 400px;
        overflow: scroll;
        transition: height 0.5s ease;

        .projectPage {
            padding-inline: 30px;
            padding-block: 3px;

            &:hover {
                background: var(--hover-color);
            }
        }

        .projectPageEdit {
            padding-inline: 30px;
            padding-block: 3px;
            outline: none;
        }
    }
}

.newPageBtn {
    width: fit-content;
    padding-inline: 20px;
    padding-block: 3px;
    margin-left: 30px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    font-size: 12px;
    margin-top: 5px;
}


.addProjectBtn {
    padding-inline: 20px;
    padding-block: 5px;
    display: flex;
    gap: 5px;
    color: var(--text-color);

    &:hover {
        background: var(--hover-color);
        cursor: pointer;
    }
}



// Markdown Guide //

.markdownGuideTitle {
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    margin-top: 10px;
}

.markdownGuideWrapper {

    display: flex;
    flex-direction: column;
    gap: 5px;

    .markdownGuide {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-left: 20px;
        font-size: 16px;
    }
}

.page { //Page used in sidebar
    cursor: pointer;
}